.footer {
  background-color: #2C2C2C;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-sizing: border-box;
  height: 80vh;
  // z-index: 1;
}

.footer-2 {
  background: url(../images/footer/footer-2.png);
  height: 80vh;
  box-sizing: border-box;
  background-color: #fff;
}

.container-back-color-footer {
  background-color: #fff;
}

