.footer {
  background-color: #2C2C2C;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-sizing: border-box;
  height: 80vh;
  // z-index: 1;

  
}

.footer-2 {
  background: url(../images/footer/footer-2.png);
  height: 80vh;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  object-fit: cover;
  object-position: center;


  &-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #253757;
    margin: 0 auto;
  }

  &-text {
    margin-top: 24px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #6C788B;
  }



  &-container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding: 199px 0;
  }
}




.container-back-color-footer {
  background-color: #fff;
}
